@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
html,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: none;
}

.App {
  min-height: 100vh;
  background: url(./background.jpg) repeat-y center center / cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Lato", sans-serif;
  color: white;
  overflow-x: hidden;
}

.shadow {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
}

.search-form {
  min-height: 10vh;
  max-height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-bar {
  width: 32%;
  height: 22px;
  font-size: 22px;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 11px;
  text-align: center;
  cursor: text;
}

.search-bar:focus {
  outline: none;
}

button {
  background: rgba(135, 15, 15, 0.8);
  padding: 14px 20px;
  margin: 30px;
  color: white;
  font-size: 16px;
  border: none;
}
button:hover {
  background-color: rgba(5, 5, 5, 0.4);
}
.recipe {
  max-width: 23%;
  text-align: center;
}


h2 {
  text-align: center;
  padding-top: 50px;
}

.recipes {
  margin: 10px;
  /* width: 80vw; */
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  /* grid-template-columns: repeat(3, 1fr); */
  row-gap: 2rem;
}
.recipes h3 {
  align-self: center;
  justify-self: center;
}

.recipes h3:hover {
  color: rgb(126, 96, 96);
  cursor:pointer;
}
.recipes a {
  color: white;
  text-decoration: none;
}
.list {
  margin: 20px 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/* .recipe {
  margin: 14px;
  min-width: 20%;
  padding: 2px;
} */

.recipe img {
  margin: 30px;
  border-radius: 5px;
  width: 90%;
  height: 45%;
  max-width: 25vw;
}

.recipe a {
  text-decoration: none;
  color: black;
  background-color: rgb(135, 15, 15);
}

.title {
  margin: 5px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main-title {
  font-family: "Fredericka the Great", cursive;
  font-size: 80px;
  font-weight: lighter;
}
.main-title a {
  text-decoration: none;
  color: white;
}
.main-title a:visited {
  text-decoration: none;
  color: white;
}
.main-title a:hover {
  color: rgba(255, 255, 255, 0.4);
}
.tagline {
  letter-spacing: 1px;
  margin: 5px;
  padding: 5px;
}
.home-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  margin: 20px;
  /* height: 80vh; */
  width: 100vw;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  max-width: 60vw;
  padding: 20px;
  background: rgb(135, 15, 15);
  color: #c4c3c3;
  max-height: 100vh;
}
.modal-content ul {
  list-style: none;
  padding: 0;
  line-height: 1.7;
  font-size: larger;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-content a {
  color: black;
  text-decoration: none;
  font-size: large;
  font-weight: 700;
  margin: 16px;
  padding: 5px 10px;
}
.modal-content a:hover {
  color: #c4c3c3;
}
.modal-content button {
  margin-bottom: 10px;
}
.food-results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* flex-wrap: wrap;
  flex-direction: row; */
  padding: 20px;
}

.food-results h3 {
  margin: 2rem;
}
.footer {
  margin-top: 100px;
  justify-self: flex-end; 

}

/* MEDIA QUERIES */

@media (max-width: 900px) {
  .main-title {
    font-size: 52px;
  }
}
