@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

.App {
  min-height: 100vh;
  background: url(./background.jpg) repeat-y center center / cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Lato", sans-serif;
  color: white;
  overflow-x: hidden;
}

.shadow {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
}

.search-form {
  min-height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-bar {
  width: 32%;
  height: 22px;
  font-size: 22px;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 11px;
  text-align: center;
  cursor: text;
}

.search-bar:focus {
  outline: none;
}
/* .search-button:focus {
  outline: none;
  background-color: rgba(5, 5, 5, 0.4);
} */

.search-button {
  background: rgba(135, 15, 15, 0.8);
  padding: 14px 20px;
  margin: 50px;
  color: white;
  font-size: 16px;
  border: none;
}
.search-button:hover {
  background-color: rgba(5, 5, 5, 0.4);
}
.recipe {
  max-width: 23%;
  text-align: center;
}

h2 {
  text-align: center;
  padding-top: 50px;
}

. s {
  margin: 0px 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.recipe {
  margin: 14px;
  min-width: 20%;
  padding: 2px;
}

.recipe img {
  margin: 30px;
  border-radius: 5px;
  width: 90%;
  height: 45%;
  max-width: 25vw;
}

.recipe a {
  text-decoration: none;
  color: black;
  background-color: rgb(135, 15, 15);
}

.title {
  margin: 5px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main-title {
  font-family: "Fredericka the Great", cursive;
  font-size: 80px;
  font-weight: lighter;
}
.main-title a {
  text-decoration: none;
  color: white;
}
.main-title a:visited {
  text-decoration: none;
  color: white;
}
.main-title a:hover {
  color: rgba(255, 255, 255, 0.4);
}
.tagline {
  letter-spacing: 1px;
  margin: 5px;
  padding: 5px;
}
.home-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  margin: 20px;
  height: 80vh;
  width: 100vw;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  z-index: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  max-width: 60vw;
  margin: 0 auto;
  padding: 30px 20px;
  background: white;
  text-align: center;
  color: black;
}
.modal button {
  height: 1.5rem;
  width: 80%;
}

/* MEDIA QUERIES */

@media (max-width: 900px) {
  .main-title {
    font-size: 52px;
  }
}
