@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.App {
  min-height: 100vh;
  background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
  font-family: 'Lato', sans-serif;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 25%;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.search-button {
  background: rgb(233, 149, 166);
  border: 1px solid #3b98cf;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
}

.recipe {
  max-width: 23%;
  text-align:center;
  
}
.recipe h3 {
  background-color: #8fcbd9;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recipe img {
  margin: 20px;
  border-radius: 5px;
  min-width: 20vw;
  
}

.title {
  margin-top: 25px;
  margin-right: 20px;
}