.recipe {
  border-radius: 10px;
  /* box-shadow: 0px 5px 20px rgb(71, 71, 71); */
  margin: 20px;
  display: flex;
  justify-content: space-around;
  /* background: rgb(221, 241, 208); */
  align-items: center;
  min-width: 20%;
  padding: 2px;
}

.image {
  margin: 5px;
  border-radius: 10%;
}
